.navbar__top {
    height: 38px;
    background: #313131;
    display: flex;
    align-items: center;
    transition: 0.2s ease-in-out;
    z-index: 99999999999999999999;

    @media screen and (max-width:600px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        flex-direction: column;
        height: 500px;
        border-radius: 0 0 20px 0;
    }

    @media screen and (max-width:425px) {
        width: 220px;
        height: 400px;
    }
}

.navbar__top__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding-top: 50px;
        height: 460px;
    }

    @media screen and (max-width:425px) {
        height: 360px;
    }
}

.close__navbar__menu__icon {
    color: #fff;
    position: absolute;
    top: 10px;
    right: -7px;
    font-size: 20px;
    cursor: pointer;
    display: none;

    @media screen and (max-width:600px) {
        display: block;
    }
}

.navbar__top__left {
    display: flex;
    align-items: center;
    gap: 30px;

    & li {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;

        @media screen and (max-width:600px) {
            font-size: 16px;
        }

        @media screen and (max-width:425px) {
            font-size: 14px;
        }
    }

    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding-bottom: 20px;
    }
}



.navbar__top__right {
    display: flex;
    align-items: center;
    gap: 30px;

    & li {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media screen and (max-width:600px) {
            font-size: 16px;
        }

        @media screen and (max-width:425px) {
            font-size: 14px;
        }
    }

    @media screen and (max-width:600px) {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}

.navbar__bottom {
    margin-top: 20px;
}

.navbar__bottom__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 38px;

    @media screen and (max-width:600px) {
        gap: 25px;
    }

    @media screen and (max-width:550px) {
        gap: 15px;
    }

    @media screen and (max-width:480px) {
        justify-content: start;
    }
}

.navbar__menu__icon {
    display: none;
    font-size: 25px;
    cursor: pointer;

    @media screen and (max-width:600px) {
        display: block;
    }
}

.search__box {
    height: 50px;
    border: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 15px;
    gap: 20px;

    @media screen and (max-width:550px) {
        gap: 10px;
    }

    @media screen and (max-width:480px) {
        position: absolute;
        top: 50px;
        width: 100%;
    }

    @media screen and (max-width:425px) {
        height: 40px;
    }
}

.search__box img {
    cursor: pointer;
}

.search__area {
    outline: 0;
    border: 0;
    width: 100%;
    color: #414141;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search__area::placeholder {
    color: #414141;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar__activities {
    display: flex;
    align-items: center;
    gap: 30px;

    @media screen and (max-width:600px) {
        gap: 25px;
    }

    @media screen and (max-width:550px) {
        gap: 15px;
    }

    @media screen and (max-width:480px) {
        width: 60%;
        justify-content: end;
    }
}

.navbar__activities img {
    cursor: pointer;
}

.counter__bought__products {
    position: absolute;
    top: -2px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-color: #D74444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    font-family: Roboto;
}

.navbar__activity {
    position: relative;

    .bi-heart{
        cursor: pointer;
        font-size: 18px;
    }

    .bi-bag{
        cursor: pointer;
        font-size: 18px;
    }

    .bi-person{
        font-size: 22px;
        cursor: pointer;
    }
}

.products__type__row {
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
    gap: 10px;

    @media screen and (max-width:950px) {
        padding: 0 20px;
    }

    @media screen and (max-width:850px) {
        overflow: auto;
        gap: 30px;
    }

    @media screen and (max-width:550px) {
        box-shadow: 0 0 0;
        height: 90px;
        align-items: start;
        padding: 0 5px;
    }

    @media screen and (max-width:480px) {
        position: relative;
        top: 70px;
    }

    @media screen and (max-width:425px) {
        top: 60px;
    }
}

.products__type__row::-webkit-scrollbar {
    display: none;
}

.products__type__row li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 70px;

    img {
        @media screen and (max-width:550px) {
            padding: 15px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
        }

        @media screen and (max-width:425px) {
            padding: 10px;
        }
    }

    @media screen and (max-width:550px) {
        flex-direction: column;
    }
}

.products__type__settings img {
    @media screen and (max-width:550px) {
        margin-top: 8px;
    }
}

.extra__width {
    @media screen and (max-width:860px) {
        width: 130px;
    }

    @media screen and (max-width:425px) {
        width: 100px;
    }
}

.product__name {
    color: #414141;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 24px;
    padding-bottom: 5px;

    @media screen and (max-width:950px) {
        font-size: 14px !important;
    }

    @media screen and (max-width:425px) {
        font-size: 12px !important;
    }
}

.product__name:hover {
    border-bottom: 2px solid #313131;
}

.products__in__sale span {
    color: #D74444;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 5px;
    height: 24px;

    @media screen and (max-width:950px) {
        font-size: 14px;
    }

    @media screen and (max-width:550px) {
        margin-top: 23px;
    }

    @media screen and (max-width:425px) {
        font-size: 12px;
    }
}

.products__in__sale span:hover {
    border-bottom: 2px solid #D74444;
}